In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

        one       two     three
a -0.897085 -0.595825 -0.470388
c -2.213332  0.346503 -0.508660
e -0.922364 -2.394701 -2.084262
f -1.071533  0.352844  1.216785
h  0.080120 -0.725891  0.989218
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print("NaN replaced with '0':")
print(df.fillna(0))

        one       two     three
a  0.664910  1.277152 -1.068908
b       NaN       NaN       NaN
c -1.749915 -0.698087 -0.968558
d       NaN       NaN       NaN
e  0.193257  0.341208 -0.346321
f       NaN       NaN       NaN
g       NaN       NaN       NaN
h       NaN       NaN       NaN
NaN replaced with '0':
        one       two     three
a  0.664910  1.277152 -1.068908
b  0.000000  0.000000  0.000000
c -1.749915 -0.698087 -0.968558
d  0.000000  0.000000  0.000000
e  0.193257  0.341208 -0.346321
f  0.000000  0.000000  0.000000
g  0.000000  0.000000  0.000000
h  0.000000  0.000000  0.000000

In [ ]:
print(df)
print('---------------')
print(df.fillna(method='pad')) #forward filling--------------

        one       two     three
a  0.664910  1.277152 -1.068908
b       NaN       NaN       NaN
c -1.749915 -0.698087 -0.968558
d       NaN       NaN       NaN
e  0.193257  0.341208 -0.346321
f       NaN       NaN       NaN
g       NaN       NaN       NaN
h       NaN       NaN       NaN
---------------
        one       two     three
a  0.664910  1.277152 -1.068908
b  0.664910  1.277152 -1.068908
c -1.749915 -0.698087 -0.968558
d -1.749915 -0.698087 -0.968558
e  0.193257  0.341208 -0.346321
f  0.193257  0.341208 -0.346321
g  0.193257  0.341208 -0.346321
h  0.193257  0.341208 -0.346321

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df.fillna(method='bfill'))#backward filling-----------------------

In [ ]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print(df.dropna())

        one       two     three
a  0.213970  0.818086 -1.391518
c -1.850818 -1.084886 -0.123221
e -1.333107  0.355879  2.279890
f -0.927647  2.359246  0.049232
h -0.298593  1.032517  1.877301
        one       two     three
a  0.213970  0.818086 -1.391518
b       NaN       NaN       NaN
c -1.850818 -1.084886 -0.123221
d       NaN       NaN       NaN
e -1.333107  0.355879  2.279890
f -0.927647  2.359246  0.049232
g       NaN       NaN       NaN
h -0.298593  1.032517  1.877301
        one       two     three
a  0.213970  0.818086 -1.391518
c -1.850818 -1.084886 -0.123221
e -1.333107  0.355879  2.279890
f -0.927647  2.359246  0.049232
h -0.298593  1.032517  1.877301

In [ ]:
d=pd.read_csv('/content/2,1 dataset titanic (1).csv')
d

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
d.info()
d.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
cols=['Name','Ticket','Cabin']
d=d.drop(cols,axis=1)
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
f=d.dropna()
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
   dummies.append(pd.get_dummies(d[col]))
print(d)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
888          889         0       3  female   NaN      1      2  23.4500
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 9 columns]

In [ ]:
td=pd.concat(dummies,axis=0)
td

       1    2    3  female  male    C    Q    S
0    0.0  0.0  1.0     NaN   NaN  NaN  NaN  NaN
1    1.0  0.0  0.0     NaN   NaN  NaN  NaN  NaN
2    0.0  0.0  1.0     NaN   NaN  NaN  NaN  NaN
3    1.0  0.0  0.0     NaN   NaN  NaN  NaN  NaN
4    0.0  0.0  1.0     NaN   NaN  NaN  NaN  NaN
..   ...  ...  ...     ...   ...  ...  ...  ...
886  NaN  NaN  NaN     NaN   NaN  0.0  0.0  1.0
887  NaN  NaN  NaN     NaN   NaN  0.0  0.0  1.0
888  NaN  NaN  NaN     NaN   NaN  0.0  0.0  1.0
889  NaN  NaN  NaN     NaN   NaN  1.0  0.0  0.0
890  NaN  NaN  NaN     NaN   NaN  0.0  1.0  0.0

[2673 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
d=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print(scaler.fit(d))
print('-------')
MinMaxScaler()
print(scaler.data_max_)
print('-------')

MinMaxScaler()
-------
[ 1. 18.]
-------

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
d=asarray([[100,10000],[50,0.005],[88,0.07]])
print(d)
scaler=StandardScaler()
scaled=scaler.fit_transform(d)
print(scaled)

[[1.0e+02 1.0e+04]
 [5.0e+01 5.0e-03]
 [8.8e+01 7.0e-02]]
[[ 0.96969743  1.41421356]
 [-1.37634474 -0.70711368]
 [ 0.40664731 -0.70709989]]